<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="G2D_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <G2D_Monitor.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Radius" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CGoose" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CSuspect" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="CDuck" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>816</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>489</value>
            </setting>
        </G2D_Monitor.Properties.Settings>
    </userSettings>
</configuration>